@page "/CharacterTemplate"
@using DnD35EDMTools.Data
@using DnD35EDMTools.Helpers

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Character Template</title>
    <link rel="stylesheet" href="./styles.css"/>
</head>

<div class="dnd-container">
<div class="dnd-main-content">
@if (model != null)
{
    <h3>@(model.Name) </h3>
    <div class="dnd-character-sheet">
    <div class="dnd-cs-top-section">
    <div class="dnd-cs-top__left">
    <div class="attributes-row">
        <div class="attributes-row-header">Attributes</div>
        <div class="attributes-row-content">
            <div class="dnd-cs-image-container">
                <img src="images/Portrait_Blank.jpg">
            </div>
            <div class="attributes-content">
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Class</div>
                    <div class="attribute-list__content"> @model.Class</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Race</div>
                    <div class="attribute-list__content"> @model.Race</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Experience</div>
                    <div class="attribute-list__content"> @model.Experience</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Hitpoints</div>
                    <div class="attribute-list__content"> @model.HitPoints</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Alignment</div>
                    <div class="attribute-list__content"> @model.Alignment</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Deity</div>
                    <div class="attribute-list__content"> @model.Diety</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Age</div>
                    <div class="attribute-list__content"> @model.Age</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Gender</div>
                    <div class="attribute-list__content"> @model.Gender</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Eyes</div>
                    <div class="attribute-list__content"> @model.Eyes</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Hair</div>
                    <div class="attribute-list__content"> @model.Hair</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Skin</div>
                    <div class="attribute-list__content"> @model.Skin</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Weight</div>
                    <div class="attribute-list__content"> @model.Weight</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Height</div>
                    @* <div class="attribute-list__content"> @model.Height</div> *@
                    <div class="attribute-list__content"> @ConversionHelper.ConvertInchesToFeetAndInches(model.Height)</div>
                </div>
                <div class="attribute-list">
                    <div class="attribute-list-row-header">Player</div>
                    <div class="attribute-list__content"> @model.PlayerName</div>
                </div>
            </div>
        </div>
    </div>
    <div class="languages-row">
        <div class="languages-row-header">Languages</div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
        <div class="languages-list">
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
            <div class="languages-list-row-content"></div>
        </div>
    </div>
    <div class="wealth-row">
        <div class="wealth-row-header">Wealth</div>
        <div class="wealth-list">
            <div class="wealth-list-row-header">PP</div>
            <div class="wealth-list-row-header">GP</div>
            <div class="wealth-list-row-header">SP</div>
            <div class="wealth-list-row-header">CP</div>
            <div class="wealth-list-row-header">Bank</div>
            <div class="wealth-list-row-header">Interest</div>
        </div>
        <div class="wealth-list">
            <div class="wealth-list-row-content"></div>
            <div class="wealth-list-row-content"></div>
            <div class="wealth-list-row-content"></div>
            <div class="wealth-list-row-content"></div>
            <div class="wealth-list-row-content"></div>
            <div class="wealth-list-row-content"></div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-header">Weight Carried</div>
            <div class="load-speed-list-row-header">Speed</div>
            <div class="load-speed-list-row-header">Initiative</div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-header">Light Load</div>
            <div class="load-speed-list-row-header">Lift Over Head</div>
            <div class="load-speed-list-row-header">Arcane Spell Failure</div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-header">Medium Load</div>
            <div class="load-speed-list-row-header">Lift off Ground</div>
            <div class="load-speed-list-row-header">Base Attack Bonus</div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-header">Heavy Load</div>
            <div class="load-speed-list-row-header">Push or Drag</div>
            <div class="load-speed-list-row-header">Spell Resistance</div>
        </div>
        <div class="load-speed-list">
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
            <div class="load-speed-list-row-content"></div>
        </div>
    </div>
    <div class="abilities-row">
        <div class="abilities-list">
            <div class="abilities-row-header">Abilities</div>
            <div class="abilities-row-header">Score</div>
            <div class="abilities-row-header">Modifier</div>
            <div class="abilities-row-header">Saves</div>
            <div class="abilities-row-header">Total</div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">STR</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Fortitude</div>
            <div class="abilities-list-row-content"></div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">DEX</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Reflex</div>
            <div class="abilities-list-row-content"></div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">CON</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Will</div>
            <div class="abilities-list-row-content"></div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">INT</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Other Stats</div>
            <div class="abilities-list-row-header">Total</div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">WIS</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Avatar Points</div>
            <div class="abilities-list-row-content"></div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">CHA</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Essentia Points</div>
            <div class="abilities-list-row-content"></div>
        </div>
        <div class="abilities-list">
            <div class="abilities-list-row-header">LCK</div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-content"></div>
            <div class="abilities-list-row-header">Reputation</div>
            <div class="abilities-list-row-content"></div>
        </div>
    </div>
    <div class="dr-immunities-row">
        <div class="dr-immunities-list-row-header">Damage Reduction</div>
        <div class="dr-immunities-list-row-content"></div>
        <div class="dr-immunities-list-row-header">Immunities</div>
        <div class="dr-immunities-list-row-content"></div>
    </div>
    <div class="worn-armour-row">
        <div class="worn-armour-list">
            <div class="worn-armour-row-header">Worn Armour</div>
            <div class="worn-armour-row-header">AC</div>
            <div class="worn-armour-row-header">Check</div>
            <div class="worn-armour-row-header">Type</div>
            <div class="worn-armour-row-header">Max Dex</div>
        </div>
        <div class="worn-armour-list">
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
        </div>
        <div class="worn-armour-list">
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
            <div class="worn-armour-list-row-content"></div>
        </div>
    </div>
    <div class="armour-row">
        <div class="armour-list">
            <div class="armour-row-header">Armour</div>
            <div class="armour-row-header">Total</div>
            <div class="armour-row-header"></div>
            <div class="armour-row-header">Base</div>
            <div class="armour-row-header">AC</div>
            <div class="armour-row-header">Ability</div>
            <div class="armour-row-header">Nat</div>
            <div class="armour-row-header">Other</div>
        </div>
        <div class="armour-list">
            <div class="armour-row-header">Armour Class</div>
            <div class="armour-list-row-content"></div>
            <div class="armour-row-header">=</div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
        </div>
        <div class="armour-list">
            <div class="armour-row-header">Flat Footed</div>
            <div class="armour-list-row-content"></div>
            <div class="armour-row-header">=</div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
        </div>
        <div class="armour-list">
            <div class="armour-row-header">Touch</div>
            <div class="armour-list-row-content"></div>
            <div class="armour-row-header">=</div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
            <div class="armour-list-row-content"></div>
        </div>
    </div>
    <div class="weapon-row">
        <div class="weapon-list-left">
            <div class="weapon-row-header">Weapon</div>
            <div class="weapon-row-header">Full Attack</div>
            <div class="weapon-row-header">Damage</div>
        </div>
        <div class="weapon-list-left">
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
        </div>
        <div class="weapon-list-left">
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
        </div>
        <div class="weapon-list-left">
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
        </div>
        <div class="weapon-list-left">
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
        </div>
        <div class="weapon-list-left">
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
        </div>
        <div class="weapon-list-left">
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
            <div class="weapon-list-row-content"></div>
        </div>
    </div>
    </div>
    <div class="dnd-cs-top__right">
        <div class="skills-row">
            <div class="skills-row-header">Skills</div>
            <div class="skills-row-header">Ranks</div>
            <div class="skills-row-header">Modifier</div>
            @for (int i = 0; i < 52; i++)
            {
                <Skill Row="@i"></Skill>
            }
            @* @foreach (var skill in Skills) *@
            @* { *@
            @*     <div class="skill-item">@skill</div> *@
            @* } *@
        </div>
        <div class="weapon-row">
            <div class="weapon-list-right">
                <div class="weapon-row-header">Critical</div>
                <div class="weapon-row-header">Type</div>
                <div class="weapon-row-header">Range</div>
                <div class="weapon-row-header">Notes</div>
            </div>
            <div class="weapon-list-right">
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
            </div>
            <div class="weapon-list-right">
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
            </div>
            <div class="weapon-list-right">
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
            </div>
            <div class="weapon-list-right">
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
            </div>
            <div class="weapon-list-right">
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
            </div>
            <div class="weapon-list-right">
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
                <div class="weapon-list-row-content"></div>
            </div>
        </div>
    </div>
    </div>
    <div class="bottom-section"></div>
    </div>
}
else
{
    <div>Loading...</div>
}
</div>
</div>

@code {
    CharacterData model;
    RaceData raceModel;

    [Parameter] public int Row { get; set; } = 0;
//[Parameter] public List<string> Skills { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync(
            );
        raceModel = new RaceData
        {
            Race = "Half-Elf",
            Size = "Medium",
            BaseSpeed = 30
        };
        
        model = new CharacterData
        {
            Name = "New Character Template",
            Class = "Sor 1 / Wiz 1",
            Race = raceModel.Race,
            Experience = 0,
            HitPoints = 12,
            Alignment = "Neutral Good",
            Diety = "Mystra (FRCS)",
            Age = 25,
            Gender = "Female",
            // Eyes = "Gold",
            // Hair = "White",
            // Skin = "Pale White",
            Weight = 32,
            Height = 66,
            PlayerName = ""
        };
    }

}