@page "/Tests"
@using DnD35EDMTools.Helpers
<h3>Dice Roll Results</h3>

<div>
    <button class="btn btn-primary" id="Button1" type="button" @onclick="RollDice">1d6+1</button>
    <br/>

    @if (diceRollerResult != 0)
    {
        <table>
            <thead>
            <tr>
                <th>Result:</th>
            </tr>
            </thead>
            <tbody>
            <tr># @diceRollerResult</tr>
            </tbody>
        </table>
    }
</div>

<br/>

<div>
    <button class="btn btn-primary" id="Button2" type="button" @onclick="RollThreeDSix">3d6</button>
    <br/>

    @if (threeDSixResult != null)
    {
        <table>
            <thead>
            <tr>
                <th>Roll #</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < threeDSixResult.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@threeDSixResult[i]</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<br/>

<div>
    <button class="btn btn-primary" id="Button3" type="button" @onclick="RollFourDSix">4d6DL</button>
    <br/>
    @if (fourDSixResults != null)
    {
        <table>
            <thead>
            <tr>
                <th>Roll #</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < fourDSixResults.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@fourDSixResults[i]</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

<br/>

<div>
    <button class="btn btn-primary" id="Button4" type="button" @onclick="RollThreeDSixROne">4d6DR1</button>
    <br/>
    @if (fourDSixDLowestResults != null)
    {
        <table>
            <thead>
            <tr>
                <th>Roll #</th>
                <th>Result</th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < fourDSixDLowestResults.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@fourDSixDLowestResults[i]</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>

@code {

    private int diceRollerResult;

    private void RollDice()
    {
        diceRollerResult = DiceRoller.RollDice("1d6+1");
    }

    private List<int> threeDSixResult;

    private void RollThreeDSix()
    {
        threeDSixResult = RollStats.ThreeDSix();
    }

    private List<int> fourDSixResults;

    private void RollFourDSix()
    {
        fourDSixResults = RollStats.FourDSixDropLowest();
    }

    private List<int> fourDSixDLowestResults;
    
    private void RollThreeDSixROne()
    {
        fourDSixDLowestResults = RollStats.ThreeDSixRerollOnes();
    }


}